<h2>Portfolio</h2>
<div class= "p1">
  <img class="port-1" src="images/port-1.jpg" alt="thumb-1">
  <p class="port-p">Petite Oat - UX Redesign</p>
</div>
<div class="p2">
  <img src="images/port-2.jpg" class="port-2" alt="thumb-2">
  <p>Levels - UX Design</p>
</div>
<div class="p3">
  <img src="images/port-3.jpg" class="port-3" alt="thumb-3">
  <p>Nokta - Motion Graphics</p>
</div>
<div class="p4">
  <img src="images/port-4.jpg" class="port-4" alt="thumb-4">
  <p>Studio W - Branding</p>
</div>
<div class="p5">
  <img src="images/port-5.jpg" class="port-5" alt="thumb-5">
  <p>Blurb and Co.- Branding</p>
</div>
<div class="p6">
  <img src="images/port-6.jpg" class="port-6" alt="thumb-6">
  <p>Illustrations</p>
</div>
